/* Global Styles */

:root {
  --primary-color: #6fa0d1;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: auto;
  /*background-image: linear-gradient(
    0deg,
    rgb(247, 247, 247) 23.8%,
    rgb(252, 221,221) 92%
  );*/
  font-size: 1rem;
  padding: 10px 15px;
  margin: auto;
  background-color: #fff;
  color: #333;
  height: 100vh;
  background: url('/img/andre-benz-Jb7TLs6fW_I-unsplash.jpg') no-repeat center center/cover;
}

.audiolayout {
  /* max-width: 1100px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
  height: 100vh;
 */
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.audio-container{
    /* max-width: 1100px;
    margin: auto;
    margin-bottom: 3rem; */
    /* margin-top: 1rem; */
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(158, 37, 75, 0.4);
    border: #dcd1d1 1px solid transparent;
    /* overflow: hidden; */
    /* position: absolute; */
    border-radius: 7%;
    z-index: 10;
    box-shadow:rgba(0, 0, 0, 0.4) 0px 19px 38 px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
#main-player-cover {
  background-image:url('../img/purplecrowd-unsplash.jpg');
  width:100%;
  border-radius:5%;
  transition: all 0.3s ease-in;
}
#main-player-cover:hover {
  background-image:url('../img/landing-img.jpg)');
  transition: all 0.3s ease-in;
}
.details {
  /* margin: auto; */
  /* position: relative; */
  height:510px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #f4f4f4;
  /* padding: 10px; */
  margin:5px;
  width:100%;
  justify-content: space-between;
  border-radius:5%;
  text-align: center;
  font-weight:bold;
}
.details .audioLink{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.details:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.track-art {
  height: 190px;
  width: 190px;
  border:2px solid 	#FFFAFA;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
  }

.track-art-widget,
.upper-track-art-widget {
  height: 130px;
  width: 130px;
  border:2px solid 	#FFFAFA;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 6px 16px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
  transition: all 0.3s ease-in;
	
}
.track-art:hover{
  height: 180px;
  width: 180px;
  border:2px solid 	#FFFAFA;
  background-size: cover;
  background-position: center;
  border-radius: 42%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 6px 60px 5px black;
  box-shadow: 3px 6px 5px black;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
  background: url('../img/purplecrowd-unsplash.jpg') no-repeat center center/cover;
  transition: all 0.3s ease-in;
}	
.upper-track-art-widget:hover,
.track-art-widget:hover {
  height: 150px;
  width: 150px;
  border:2px solid 	#FFFAFA;
  background-size: cover;
  background-position: center;
  border-radius: 42%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 6px 60px 5px black;
  box-shadow: 3px 6px 5px black;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
  background: url('../img/purplecrowd-unsplash.jpg') no-repeat center center/cover;
  transition: all 0.3s ease-in;
}	

.now-playing{
  font-size: 0.8rem;
  width:100%;
  padding: 0px;  
  -moz-border-radius:5%;
  -webkit-border-radius:5%;
  border-radius:5%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.now-playing:hover {
  padding: 5px;  
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  transition: all 0.3s ease-in;
}
/* css from main media */

.track-name {
  font-size: medium;
  }
  
  .track-artist {
  margin-top: 5px;
  font-size: 1.2rem;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  }
  
  .media-buttons {
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #dcd1d1;
  /* padding-right: 7px; */
  /* margin: 5px; */
  }
  .footer-media-panel {
	  width: 100%;
	  padding: 2px 5px;
  }
  .repeat-track {
    color: #dcd1d1;
  }
  .media-buttons .repeat-track:hover {
    opacity: 0.7;
  }

  .media-buttons .random-track:hover {
    opacity: 0.7;
  }
  .media-buttons .playpause-track:hover {
    opacity: 0.7;
  }

  .media-buttons .prev-track:hover {
    opacity: 0.7;
  }  
  .media-buttons .next-track:hover {
    opacity: 0.7;
  } 
  .active{
      color: black;
  }
  
  media-buttons .prev-track,
  media-buttons .next-track,
  media-buttons .repeat-track,
  media-buttons .random-track {
  padding: 3px 8px;
  opacity: 1.0;
  transition: opacity .2s;
  color: #dcd1d1;
  font-size: small; 
  }
  
  .repeat-track,
  .random-track,
  .playpause-track,
  .prev-track,
  .next-track {
  padding: 5px 10px;
  opacity: 1.0;
  transition: opacity .2s;
  color: #dcd1d1;
  font-size: 12px;
  margin:2px
  }
 
  .playpause-track {
  font-size: large;
  margin: 5px
  }
  
  .repeat-track:hover,
  .random-track:hover,
  .playpause-track:hover,
  .prev-track:hover,
  .next-track:hover {
  opacity: 1.0;
  color: #dcd1d1;
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px;
  font-size: medium;
  border-radius: 7%;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  box-shadow: 3px 3px 10px #6fa0d1;
  transition: all 0.3s ease-in;
  }
  
  .slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774FF;
  cursor: grab;
  border-radius: 100%;
}

  .seek_slider, 
  .panel_seek_slider,
  .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  color:#8da7e3;
  background: white;
  border-radius: 5%;
  background: #83A9FF;
  width: 5px;
  height: 5px;
  cursor: grab;
  border-radius: 100%;
  -webkit-transition: .2s;
  transition: opacity .2s;
  transition: all 0.3s ease-in;
  }
 
  .slider_container .left-mini-player-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 15px;
  color:#8da7e3;
  background: white;
  border-radius: 5%;
  background: #83A9FF;
  width: 5px;
  height: 5px;
  cursor: grab;
  border-radius: 100%;
  -webkit-transition: .2s;
  transition: opacity .2s;
  transition: all 0.3s ease-in;
  }
 
  .slider_container .left-mini-player-slider:hover {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 15px;
  color:#8da7e3;
  background: white;
  border-radius: 5%;
  background: #83A9FF;
  width: 5px;
  height: 10px;
  cursor: grab;
  border-radius: 20%;
  -webkit-transition: 0.9s;
  transition: opacity 0.2s;
  transition: all 0.3s ease-in;
  }
 
  .id_seek_slider,
  .id_seek_slider::-webkit-slider-thumb,
  .sectionSlider::-webkit-slider-thumb,
  .sectionSlider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  cursor: grab;
  border-radius: 100%;
  background: #83A9FF;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  transition: all 0.3s ease-in;
}

  .midSectionSlider,
  .main_bottom_seek_slider,
  .panel_seek_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  color:#8da7e3;
  border-radius: 5%;
  background: #83A9FF;
  width: 10px;
  height: 10px;
  cursor: grab;
  border-radius: 80%;
  -webkit-transition: .2s;
  transition: opacity .2s;
  transition: all 0.3s ease-in;
  }
  
  .footer_slider_specs,
  .footer_slider_specs::-webkit-slider-thumb {
  width:100%;
  color:#8da7e3;
  background: #83A9FF;
  text-align:center;
  margin:5px 0;
  height:20px;
  border-radius: 100%;
  cursor: grab;  
  transition: all 0.3s ease-in;
  }
  
  .seek_slider,
  .id_seek_slider,  
  .sectionSlider,
  .main_bottom_seek_slider,
  .panel_seek_slider,
  .volume_slider {
  	z-index: 40;
  }
  
  .main_bottom_seek_slider {
  margin:5px 0;
  width: 25px;
  height: 25px;
  }

.slider_container {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  text-align:center;
  margin:5px 0;
  padding:12px;
  cursor:pointer;
  background:rgba(1.33, 10.64, 0.60, 0.9);
  border-radius: 7%;
  color: rgb(189, 180, 255);
  box-shadow: 2px 2px 7px #6fa0d1;
  /* box-shadow: 3px 3px 10px #6fa0d1; */
  background: rgba(0, 0, 0, 0.7);
  /* box-shadow: 1px 1px 8px #6fa0d1; */
  font-size: 12px;
  z-index: 38;
  transition: all 0.3s ease-in;
}

.slider_container div {
  font-size: 12px;
}

.slider_container .volume_slider {
  margin: 5px;
  width: 25%;
}

.slider_container .duration-time  {
  display:flex;
  align-items:center;
  padding:5px;
  margin-right:5px;
} 

.slider_container .remaining-time {
  display:flex;
  align-items:center;
}
/*
.slider_container:hover{
  cursor: pointer;
  opacity: 0.9;
  background-color: rgba(78, 69, 128, 0.3);
  transition: all 0.5s ease-in;
}
*/

/*
  #main-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 10px;
  background: white;
  border: 3px solid #3774FF;
  cursor: grab;
  border-radius: 100%;
  }
  */
  
  .panelPlaypauseBtn {
  width: 100%;
  transition: all 0.3s ease-in;
  }
  
  .panelPlayPauseBtn:hover,
  .panelPlaypauseBtn:hover,
  .id_seek_slider, 
  .panel_seek_slider,
  .seek_slider:hover,
  .volume_slider:hover {
  cursor: pointer;
  opacity: 1.0;
  transition: all 0.3s ease-in;
  }
  
  .seek_slider {
  width: 60%;
  transition: all 0.3s ease-in;
  }
  
  .volume_slider {
  width: 30%;
  transition: all 0.3s ease-in;
  }
  
  .current-time,
  .total-duration,
  .total-durations,
  .panel-total-durations {
  font-size:small;
  padding: 5px;
  color:#8da7e3;
  color: rgba(128, 237, 185, 0.4);
  transition: all 0.3s ease-in;
  }
  
  .remaining-duration-panel,
  .panel-remaining-durations,
  .remaining_duration,
  .remaining_durations {
  font-size:small;
  padding: 5px;
  color: rgb(239, 180, 255);
  background: rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  /*
  box-shadow: 3px 3px 1px #6fa0d1;
  color:#8da7e3;
  color: rgba(128, 237, 225, 0.4);
  */
  transition: all 0.3s ease-in;
  }

  .panel-remaining-durations-card {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .column-panel-remaining-durations-card {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  }
  
  .remaining-duration-panel {
  margin: 0 5px;
  }
  .total-duration:hover,
  .panel-total-durations:hover,
  .remaining_duration:hover,
  .remaining_duration:hover,
  .remaining_durations:hover {
  cursor: pointer;
  padding: 5px;
  font-size: medium;
  border-radius: 7%;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  box-shadow: 3px 3px 10px #6fa0d1;
  transition: all 0.3s ease-in;
  }
  
  .remaining-duration-panel,
  .column-panel-remaining-durations-card:hover,
  .panel-remaining-durations-card:hover {
  cursor: pointer;
  font-size: small;
  border-radius: 7%;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  box-shadow: 3px 3px 10px #6fa0d1;
  transition: all 0.3s ease-in;
  }

  .remaining-duration-panel {
  padding: 2px;	  
  }
  
  .current-time:hover,
  .total-durations:hover,
  .panel-total-durations:hover,
  .panel-remaining-durations:hover {
  cursor: pointer;
  padding: 5px;
  font-size: small;
  border-radius: 7%;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  box-shadow: 3px 3px 10px #6fa0d1;
  transition: all 0.3s ease-in;
  }
  
  .current-time {
  font-size:small;
  color:#8da7e3;
  transition: all 0.3s ease-in;
  }
  
  i.fa-volume-down,
  i.fa-volume-up {
  padding: 10px;
  color: #dcd1d1;
  transition: all 0.3s ease-in;
  }
  
  i,
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward,
  p {
  cursor: pointer;
  }
  .randomActive{
      color: black;
  }
  .rotate {
      animation: rotation 8s infinite linear;
  }
  @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
  }
  
  .spinning-card {
    /* transform: rotate(10deg); Example rotation */
    animation: rotation 8s infinite linear;
    transition: transform 0.3s ease;
}
  .loader {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
  .loader .stroke{
      background: #f1f1f1;
      height: 150%;
      width: 10px;
      border-radius: 50px;
      margin: 0 5px;
      animation: visualizer 1.4s linear infinite;
      /* padding-bottom: 15px; */
  }
    @keyframes visualizer {
      50% {
        height: 20%;
        background: #4286f4;
      }
  
      100% {
        background: #4286f4;
        height: 100%;
      }
    }
  .stroke:nth-child(1){
        animation-delay: 0s;
    }
  .stroke:nth-child(2){
      animation-delay: 0.3s;
  }
  .stroke:nth-child(3){
      animation-delay: 0.6s;
  }
  .stroke:nth-child(4){
      animation-delay: 0.9s;
  }
  .stroke:nth-child(5){
      animation-delay: 0.6s;
  }
  .stroke:nth-child(6){
      animation-delay: 0.3s;
  }
  .stroke:nth-child(7){
      animation-delay: 0s;
  }
  
@keyframes gradient-animation {
  0% {
    background: linear-gradient(to right, #ff0000, #0000ff); /* Example start colors */
  	transition: all 0.8s ease-in;
  }
  50% {
    background: linear-gradient(to right, #00ff00, rgb(64, 0, 128)); /* Example start colors */
    background: linear-gradient(to left, #00ff00, rgb(64, 0, 128)); 
    transition: all 1.3s ease-in;
  }
  80% {/* Example start colors */
    background: linear-gradient(to right, rgb(0, 255, 255), rgb(128, 0, 255)); /* Example start colors */	 
  	transition: all 1.7s ease-in;
  }
  100% {
    background: linear-gradient(to right, #ff0000, #0000ff);  /* Example start colors */
    background: linear-gradient(to right, #0000ff, rgb(0, 255, 255)); /* Example start colors */	 
  	transition: all 2.3s ease-in;
  }
}

@keyframes spreader {
  20% { 
      width: 60%; 
      background: linear-gradient(to right, #ff0000, #0000ff); /* Example start colors */
	  transition: all 5.3s ease-in;
  }
  70% { 
	  width: 70%;
      background: linear-gradient(to right, rgb(0, 255, 255), #0000ff); /* Example start colors */	  
	  transition: all 7.7s ease;
  }
  100% {
      width: 100%; 
      background: linear-gradient(to right, #00ff00, #ff00ff); /* Example end colors */
	  transition: all 7.7s ease;
  }
}

@keyframes cover-spreader {
  	0% { 
	  width: 60%; 
	  background: linear-gradient(to right, #ff0000, #0000ff); /* Example start colors */
	  transition: all 5.3s ease-in;
	}
	  30% {
	  width: 70%; 
	  background: linear-gradient(to right, #ff0000, #0000ff); /* Example start colors */
	  transition: all 7.7s ease;
	}
	  100% {
	  width: 100%; 
	  transition: all 9.3s ease-in-out;
	  background: linear-gradient(to right, #00ff00, #ff00ff); /* Example start colors */
	}
}

@keyframes panel-spreader {
  	0% { 
	  width: 50%; 
	  background: linear-gradient(to right, #ff0000, #0000ff); /* Example start colors */
	  transition: all 5.3s ease-in;
	}
	  50% {
	  width: 70%; 
	  background: linear-gradient(to right, rgb(128, 128, 255), rgb(64, 0, 64)); /* Example start colors */
	  transition: all 7.7s ease;
	}
	  100% {
	  width: 100%; 
	  background: linear-gradient(to right, #00ff00, #ff00ff); /* Example start colors */
	  transition: all 13.3s ease-in-out;
	}
}

.guest-login {
  animation: gradient-animation 3s infinite alternate;
}
 
@keyframes border-animation {
    0% {
        border-bottom-width: 0;
        border-bottom-color: transparent;
    }
    50% {
        border-bottom-width: 5px;
        border-bottom-color: currentColor;
    }
    100% {
        border-bottom-width: 0;
        border-bottom-color: transparent;
    }
}

@keyframes typewriter {
    0% { 
		width: 0; 
	}
    50% {
		width: 50%; 
	}
    100% {
		width: 100%; 
	}
}

@keyframes inputwriter {
    0% { 
		width: 40%; 
		transition: all 0.3s ease-in;
	}
    50% {
		width: 80%; 
		transition: all 0.3s ease-in;
	}
    100% {
		width: 100%; 
		transition: all 0.3s ease-in;
	}
}

@keyframes blinkTextCursor {
    from { border-right-color: rgba(0, 0, 0, .75); }
    to { border-right-color: transparent; }
}

/*
@keyframes background-animation {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: currentColor;
    }
    100% {
        background-color: transparent;
    }
}
*/
/*
 Custom notification styles */
.custom-notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color:black;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(220,0,0,0.3);
    z-index: 1000;
    font-size: 16px;
    animation: panel-spreader 3.2s 1 ease-in-out;
	transition: all 0.3s ease-in;
    transition: opacity 0.5s;
}

.custom-notification.error {
    border-bottom:0.1px dashed #f44336;
    color :bisque;
	color:rgba(232, 211, 122, 0.9);
    animation: panel-spreader 3.2s 1 ease-in-out;
	transition: all 0.3s ease-in;
}

.type-writer {
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 4s steps(40) 1s 1 normal both, blinkTextCursor 500ms steps(40) infinite normal;
    transition: all 0.3s ease-in;
}
.custom-notification,
.input-slicer {
    overflow: hidden;
    white-space: nowrap;
    animation: inputwriter 4s steps(40) 1s 1 normal both, blinkTextCursor 500ms steps(40) infinite normal;
    transition: all 0.3s ease-in;
}
.main-greeting-panel {
	text-align:center;
	color: brown;
	font-family:fantasy;
	background:rgba(10.2, 3.3, 3.6, 0.9);
	margin-top:5px;
	border-radius:5%;	
    background-size: cover;
    background-position: center;
    -moz-box-shadow: 0px 6px 5px black;
    -webkit-box-shadow: 6px 6px 5px black;
    box-shadow: 0px 6px 5px black;
    -moz-border-radius: 7%;
    -webkit-border-radius: 5%;
    border-radius: 5%;
    z-index: 36;
    opacity: 1;
	/*/border-bottom: 2px solid chocolate;
    animation: panel-spreader 3.2s 1 ease-in-out;*/
    transition: all 0.3s ease-in;
}

.main-greeting-panel:hover {
  background-size: cover;
  background-position: center;
  -moz-box-shadow: 0px 16px 5px black;
  -webkit-box-shadow: 6px 60px 5px black;
  box-shadow: 3px 6px 15px black;
  -moz-border-radius: 5%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  opacity: 0.9;
  background: url('../img/purplecrowd-unsplash.jpg') no-repeat center center/cover;
  /*animation: gradient-animation 0.31s infinite ease-in-out;
    animation: gradient-animation 0.77s infinite ease-in-out;
  	animation: panel-spreader 3.3s 1 ease-in-out;
    */
  transition: all 3.3s ease-in-out;
}
.main-greeting-panel a {
    display:block;
    padding: 10px;
    color: khaki;
    text-decoration:none;
    font-size:28px;
	border-radius:5%;
	z-index: 38;
    transition: all 0.3s ease-in;
}
.main-greeting-panel:hover {
    transition: all 0.3s ease-in;
}
.main-greeting-panel a:hover {
	font-size: 30.9px;
	z-index: 938;
	color:rgb(242, 242, 242);
    transition: all 0.3s ease-in;
}
.track-description {/*
    position: relative;*/
    display: flex;
    font-size: 18px;
  	padding: 8px;  
    font-weight: bold;
    font-family:cursive;
    background-color: currentColor;
    border-bottom: 3px solid transparent;
    z-index: 45;
    animation: border-animation 2s infinite ease-in-out;
  	transition: all 0.5s ease-in;
    box-shadow: 0.8px 1px 2px rgba(0, 0, 0, 0.1);
    /*
    opacity: 8;
    /animation: background-animation 1s infinite ease-in-out;
	*/
}
.section-track-description {
    font-size: 18px;
}
.play-panel {
	margin:5px 0;
	  background-size: cover;
	  background-position: center;
	  -moz-box-shadow: 0px 6px 5px black;
	  -webkit-box-shadow: 6px 6px 5px black;
	  box-shadow: 0px 6px 5px black;
	  -moz-border-radius:5%;
	  -webkit-border-radius:5%;
	  border-radius:5%;
	  transition: all 0.3s ease-in;
}

.play-panel .bluebtn {
    color: rgb(189, 180, 255);
  }

.play-panel .lead,
.play-panel .leadShowcase {
  	color: rgb(225, 147, 237); 

  }
.play-panel .panelPlayPauseBtn {
  width: 100%; 
  }

.play-panel:hover {
  	cursor: pointer;
    transition: all 0.3s ease-in; 

  }
.track-description:hover {
  cursor: pointer;
  padding: 8px;  
  opacity: 0.9;
  font-size: 17px;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -webkit-transition: .2s;
  transition: all 0.3s ease-in;
}

.editForm {
  width: 100%;
  margin:5px;
  padding:10px;
  border-radius:5%;
  background:rgba(1.33, 10.64, 0.60, 0.9);
  animation: gradient-animation 1s ease;
}
.editForm input {
  border-radius:5%;
}
.deleteForm input {
  border-radius:5%;
}
.deleteForm {
  width: 100%;
  margin:5px;
  padding:10px;
  border-radius:5%;
  background:rgba(1.33, 10.64, 0.60, 0.9);
}

.bright-cover {
  background-size: cover;
  background-position: center;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 6px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius: 7%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  z-index: 36;
  opacity: 1; 
  animation: cover-spreader 3.3s infinite ease-in-out;
  animation: gradient-animation 0.77s infinite ease-in-out;
  transition: all 10.3s ease-in;
}
.party-lights {
  background-size: cover;
  background-position: center;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 6px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius: 7%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  z-index: 36;
  opacity: 1; 
  animation: none;
  transition: all 10.3s ease-in-out;
} 

.party-lights:hover {
  color:black;
  font-weight: bold;
  animation: gradient-animation 0.6s infinite ease-in-out;
  transition: all 0.3s ease-in;
} 

#navbar ul li:hover,
.custom-notification,
.input-slicer:hover,
.playpause-Track:hover,
.seek_slider:hover,
.id_seek_slider:hover,
.panel_seek_slider:hover,
.mid-section-nav-panel a:hover,
.flexCover a:hover,
.flexCover  option,
.flexCover input:hover,
.flex-column a:hover,
.flex-column p:hover,
.flex-column option,
.flex-column textarea:hover,
.columnCover a:hover,
.columnCover mini-panel-info:hover,
.columnCover input:hover,
.playlist-form select,
.mini-panel-info .artist-link-card:hover,
.edit-input:hover, .delete-input:hover {
  color:black;
  font-weight: bold;
  animation: gradient-animation 0.6s infinite ease-in-out;
  transition: all 0.3s ease-in;
}

.spreader {
  background-size: cover;
  background-position: center;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 6px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius: 7%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  z-index: 36;
  opacity: 1;
  animation: gradient-animation 0.77s infinite ease-in-out;
  animation: spreader 8.3s infinite ease-in-out;
  transition: all 0.3s ease-in;
}

.spreader:hover {
  background-size: cover;
  background-position: center;
  -moz-box-shadow: 0px 16px 5px black;
  -webkit-box-shadow: 6px 60px 5px black;
  box-shadow: 3px 6px 15px black;
  -moz-border-radius: 5%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  opacity: 0.9;
  background: url('../img/purplecrowd-unsplash.jpg') no-repeat center center/cover;
  animation: gradient-animation 0.31s infinite ease-in-out;
  animation: cover-spreader 5.3s 1 ease-in-out;
  transition: all 5.3s ease-in-out;
}

.flash-media {
  background-size: cover;
  background-position: center;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 6px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius: 7%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  z-index: 36;
  opacity: 1;
  animation: gradient-animation 0.77s infinite ease-in-out;
  animation: cover-spreader 3.2s 1 ease-in-out;
  transition: all 0.3s ease-in;
}
.stretcher {
  background-size: cover;
  background-position: center;
  -moz-box-shadow: 0px 16px 5px black;
  -webkit-box-shadow: 6px 60px 5px black;
  box-shadow: 3px 6px 15px black;
  -moz-border-radius: 5%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  opacity: 0.9;
  background: url('../img/purplecrowd-unsplash.jpg') no-repeat center center/cover;
  animation: gradient-animation 0.31s infinite ease-in-out;
  animation: panel-spreader 3.3s 1 ease-in-out;
  transition: all 3.3s ease-in-out;
}

.bright-cards,
.bright-colors {
  background-size: cover;
  background-position: center;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 6px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius: 7%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  z-index: 36;
  opacity: 1;
  animation: gradient-animation 0.77s infinite ease-in-out;
  animation: panel-spreader 3.2s infinite ease-in-out;
  transition: all 7.3s ease-in;
}

.bright-flash {
  background-size: cover;
  background-position: center;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 6px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius: 7%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  z-index: 36;
  opacity: 1;
  animation: gradient-animation 0.77s infinite ease-in-out;
  animation: panel-spreader 3.2s 1 ease-in-out;
  transition: all 7.3s ease-in;
}

.bright-flash:hover {
  background-size: cover;
  background-position: center;
  -moz-box-shadow: 0px 16px 5px black;
  -webkit-box-shadow: 6px 60px 5px black;
  box-shadow: 3px 6px 15px black;
  -moz-border-radius: 5%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  opacity: 0.9;
  background: url('../img/purplecrowd-unsplash.jpg') no-repeat center center/cover;
  animation: gradient-animation 0.31s infinite ease-in-out;
  animation: cover-spreader 3.3s 1 ease-in-out;
  transition: all 3.3s ease-in-out;
}
.flash-media:hover{
  background-size: cover;
  background-position: center;
  -moz-box-shadow: 0px 16px 5px black;
  -webkit-box-shadow: 6px 60px 5px black;
  box-shadow: 3px 6px 15px black;
  -moz-border-radius: 5%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  opacity: 0.9;
  background: url('../img/purplecrowd-unsplash.jpg') no-repeat center center/cover;
  animation: gradient-animation 0.31s infinite ease-in-out;
  animation: cover-spreader 3.3s 1 ease-in-out;
  transition: all 3.3s ease-in-out;
}

.playlist-form {
    padding:2px 5px;
    border-radius: 5%;
    width: 100%;
    border-radius: 5px; 
	background-position: center;
    box-shadow: 3px 6px 5px black;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 5%; 
    transition: all 3.3s ease-in-out;
}

.playlist-form .playlist-input:hover,
.playlist-form .playlist-input:focus,
.playlist-form textarea:hover {
 background: #06111c;
 background-color: #06111c;
 animation: none;
 transition: all 0.3s ease-in;
}

.playlist-form select option {
    padding: 10px;
}

.playlist-form select:focus {
    outline: none;
    border-color: #4A90E2;
    border-radius: 5%;
    /*
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
    */
}

@keyframes cover-spreader {
  	0% { 
	  width: 60%; 
	  transition: all 5.3s ease-in;
	  background: linear-gradient(to right, #ff0000, #0000ff); /* Example start colors */
	}
	  30% {
	  width: 70%; 
	  background: linear-gradient(to left, #00ff00, #ff00ff); /* Example start colors */
	  background: linear-gradient(to left, rgba(12, 212, 211), #0000ff); /* Example start colors */
	  transition: all 5.7s ease;
	}
	  100% {
	  width: 100%; 
	  background: linear-gradient(to right, #ff0000, #0000ff); /* Example start colors */
	  transition: all 9.3s ease-in-out;
	}
}

@keyframes panel-spreader {
  	0% { 
	  width: 40%; 
	  transition: all 1.3s ease-in;
	  background: linear-gradient(to right, #ff0000, #0000ff); /* Example start colors */
	}
	  30% {
	  width: 70%; 
	  transition: all 1.7s ease;
	  background: linear-gradient(to right, #ff0000, #0000ff); /* Example start colors */
	}
	  100% {
	  width: 100%; 
	  transition: all 1.3s ease-in-out;
	  background: linear-gradient(to right, #00ff00, #ff00ff); /* Example start colors */
	}
}

.titleCover {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in;
}
.trackListLink .panel-card {
  border-radius:7%;  
  transition: all 0.3s ease-in;
}
.titleCover a{
  display: flex;
  margin: 5px;
}
.titleCover .track-info:hover {
  padding: 10px;
  color:rgba(1.33, 10.64, 0.60, 0.9);
  animation: gradient-animation 3s infinite ease-in-out;
  transition: all 0.3s ease-in;
}
.playlist-link {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.columnCover {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  border-radius:5%;
  width:100%;
}

.flexCover {
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-radius:5%;
  width:100%;
  margin-bottom: 5px;
}

.flexCover {
  margin:5px;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  color:#06111c;
  border-radius:5%;
  text-align: center;
  background:rgba(2.11, 0.03, 1, 0.9);
  font-weight:bold;
}
.mid-section-nav-panel a,
.flexCover a {
  margin:5px;
  width:100%;
  display:block;
  padding:10px;
  color:#06111c;
  border-radius:5%;
  text-align: center;
  background:rgba(2.11, 0.03, 1, 0.9);
  font-weight:bold;
}
.flexCover input{
  width:100%;
}
.flex-panel {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 7%;
  color: rgb(189, 180, 255);
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 3px #6fa0d1;
  /* box-shadow: 3px 3px 10px #6fa0d1; */
  background: rgba(0, 0, 0, 0.9);
  /* box-shadow: 1px 1px 8px #6fa0d1; */
  z-index: 38;
  padding:10px;
  transition: all 0.3s ease-in;
}

.flex-panel-btw {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 7%;
  color: rgb(189, 180, 255);
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 3px #6fa0d1;
  /* box-shadow: 3px 3px 10px #6fa0d1; */
  background: rgba(0, 0, 0, 0.9);
  /* box-shadow: 1px 1px 8px #6fa0d1; */
  z-index: 38;
  padding:2px;
  transition: all 0.3s ease-in;
}
.flex-panel-btw a,
.flex-panel a{
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.4rem;
  font-weight: bold;
  color: rgb(189, 180, 255);
  background: rgba(0, 0, 0, 0.7);
}

.flex-panel span {
	margin:5px;
}

.flex-column {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction:column;
  border-radius: 7%;
  width: 100%;
}

.flex-column .a-tag-links{

  border-radius:7%;
  background:rgba(1.33, 10.64, 0.60, 0.9);
  transition: all 0.5s ease-in;
  box-shadow: 0.8px 1px 2px rgba(0, 0, 0, 0.1);
}

.flex-column .trackListLink{
  border-radius:7%;
  background:rgba(1.33, 10.64, 0.60, 0.9);
  transition: all 0.5s ease-in;
  box-shadow: 0.8px 1px 2px rgba(0, 0, 0, 0.1);
}
.flex-column .trackListLink input{
  padding: 15px;
  border-radius:7%;
  font-size: 19px;
  font-family: cursive;
  font-weight: bold;
  -webkit-box-shadow: 0px 6px 5px black;
}

.flex-column .trackListLink input:hover{
  cursor: pointer;
  padding: 13px;  
  opacity: 0.9;
  font-size: 17px;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  animation: gradient-animation 3s infinite ease-in-out;
  transition: all 0.3s ease-in;
}

.panel-greetings {
  padding: 5px;
  color:#06111c;	
  border-radius:7%;
  font-size: 17px;
  font-family: cursive;
  font-weight: bold;
  -webkit-box-shadow: 0px 6px 5px black;
}
.panel-greetings:hover{
  cursor: pointer;
  padding: 3px;  
  opacity: 0.9;
  font-size: 17px;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  animation: gradient-animation 3s infinite ease-in-out;
  transition: all 0.3s ease-in;
}
.columnCover .track-status {
	font-size: 14px;
}
.flex-column .track-status {
  font-size: 17px;
  padding: 3px;
}

.artist-hub {
  width:100%;
  display:block;
  font-weight:bold;
  padding:15px;
  color:currentColor;
}
.image-input-panel {
	background:rgba(12, 232, 312, 0.9);
	display:flex;
	justify-content:space-between;
	align-items:center;
	border-radius:5%;
	padding:10px 15px;
	margin-right: 3px;
	cursor:pointer;
	color: #06111c;
	font-weight: bold;
}

.audio-input-panel {
	display:flex;
	justify-content:space-between;
	align-items:center;
	border-radius:5%;
	padding:10px 15px;
	margin-left: 3px;
	cursor:pointer;
	color: #06111c;
	font-weight: bold;
    animation: gradient-animation 3s infinite ease-in-out;
	background:rgba(123, 232, 12, 0.9);
}

.audio-input-panel .custom-file-input,
.image-input-panel .custom-file-input {
	width:100%;
	opacity: 0.1%;
    transition: opacity 3s ease-in-out; /* Increase transition duration */
}
	.audio-input-panel:hover,
	.image-input-panel:hover {
	  width:100%;
	  font-size: 17px;
	  -moz-box-shadow: 0px 6px 5px black;
	  -webkit-box-shadow: 0px 6px 5px black;
	  box-shadow: 0px 6px 5px black;
	  -webkit-transition: .2s;
      opacity: 1; /* Make the file input visible */
  	  animation: gradient-animation 3s infinite ease-in-out;
	  transition: all 0.3s ease;
       /* transition: width 0.3s ease;Smooth transition for width */
	}
	.flexCover 
	.flexCover .submit-track {
		margin:10px 0;
		width:100%;
		padding:10px 0;
	}
	.flexCover .back-btn {
		color:azure;
		width:100%;
		display:block;
		padding:10px 0
	}

.flex-panel {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 7%;
  color: rgb(189, 180, 255);
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 3px #6fa0d1;
  /* box-shadow: 3px 3px 10px #6fa0d1; */
  background: rgba(0, 0, 0, 0.9);
  /* box-shadow: 1px 1px 8px #6fa0d1; */
  z-index: 38;
  padding:10px;
  transition: all 0.3s ease-in;
}

.flex-panel-btw {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 7%;
  color: rgb(189, 180, 255);
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 3px #6fa0d1;
  /* box-shadow: 3px 3px 10px #6fa0d1; */
  background: rgba(0, 0, 0, 0.9);
  /* box-shadow: 1px 1px 8px #6fa0d1; */
  z-index: 38;
  padding:2px;
  transition: all 0.3s ease-in;
}
.flex-panel-btw a,
.flex-panel a{
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.4rem;
  font-weight: bold;
  color: rgb(189, 180, 255);
  background: rgba(0, 0, 0, 0.7);
}

.flex-panel span {
	margin:5px;
}

.flex-column {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction:column;
  border-radius: 7%;
  width: 100%;
}

.flex-column .trackListLink{
  border-radius:7%;
  background:rgba(1.33, 10.64, 0.60, 0.9);
  transition: all 0.5s ease-in;
  box-shadow: 0.8px 1px 2px rgba(0, 0, 0, 0.1);
}
.flex-column .trackListLink input{
  padding: 15px;
  border-radius:7%;
  font-size: 19px;
  font-family: cursive;
  font-weight: bold;
  -webkit-box-shadow: 0px 6px 5px black;
}

.flex-column .trackListLink input:hover{
  cursor: pointer;
  padding: 13px;  
  opacity: 0.9;
  font-size: 17px;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  animation: gradient-animation 3s infinite ease-in-out;
  transition: all 0.3s ease-in;
}

.panel-greetings {
  padding: 5px;
  color:#06111c;	
  border-radius:7%;
  font-size: 17px;
  font-family: cursive;
  font-weight: bold;
  -webkit-box-shadow: 0px 6px 5px black;
}
.panel-greetings:hover{
  cursor: pointer;
  padding: 3px;  
  opacity: 0.9;
  font-size: 17px;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  transition: all 0.3s ease-in;
}
.columnCover .track-status {
	font-size: 14px;
}
.flex-column .track-status {
  font-size: 17px;
  padding: 3px;
}

.track-status {
  margin:2px 0;
  padding: 5px;
  color:#06111c;	
  border-radius:7%;
  font-size: 8px;
  font-family: cursive;
  font-weight: bold;
  -webkit-box-shadow: 0px 6px 5px black;
}

.music_link_card:hover,
.download_link_card:hover,
.track-status:hover{
  cursor: pointer;
  padding: 3px;  
  opacity: 0.9;
  font-size: 17px;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  transition: all 0.3s ease-in;
}

.music_link_card:hover,
.download_link_card:hover,
.track-status:hover{
  cursor: pointer;
  padding: 3px;  
  opacity: 0.9;
  font-size: 17px;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  transition: all 0.3s ease-in;
}
.chevron-icon {
   margin-left: 5px;
   transition: transform 0.3s ease;
}
.chevron-icon.rotate {
   transform: rotate(180deg);
}
.party-lights .track-creation-input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 7%;
  color: rgb(189, 180, 255);
  box-shadow: 2px 2px 7px #6fa0d1;
  /* box-shadow: 3px 3px 10px #6fa0d1; */
  background: rgba(0, 0, 0, 0.7);
  /* box-shadow: 1px 1px 8px #6fa0d1; */
  z-index: 38;
  transition: all 0.3s ease-in;
}
.party-lights .track-creation-input:hover {
  box-shadow: 2px 2px 7px #6fa0d1;
  background: url('./img/samuel-regan-asante-3BcNKoySAq0-unsplash.jpg') no-repeat center center/cover;
  background:rgba(0, 0, 0, 0.6);
  z-index: 38;  
  animation: gradient-animation 3s infinite ease-in-out;
  transition: all 0.3s ease-in;
}
.party-lights .track-creation-input:hover,
.track-creation-input:focus {
  box-shadow: 2px 2px 7px #6fa0d1;
  background: url('./img/samuel-regan-asante-3BcNKoySAq0-unsplash.jpg') no-repeat center center/cover;
  background:rgba(0, 0, 0, 0.6);
  z-index: 38;
  animation: none;
  color: rgba(210, 179, 240);
  transition: all 0.3s ease-in;
}
.track-upload-form,
.track-creation-select:hover,
.track-creation-select:focus,
.track-creation-text-area:focus,
.track-creation-text-area:hover {
  box-shadow: 2px 2px 7px #6fa0d1;
  background: url('./img/samuel-regan-asante-3BcNKoySAq0-unsplash.jpg') no-repeat center center/cover;
  background:rgba(0, 0, 0, 0.6);
  z-index: 38;
  animation: none;
  color: rgba(210, 179, 240);
  transition: all 0.3s ease-in;
}
/*Media Queries */
@media(max-width: 875px) {
	.audio-input-panel .custom-file-input,
	.image-input-panel .custom-file-input {
		width:100%;
		opacity: 0.3%;
	}

	.audio-input-panel,
	.image-input-panel {
		width:100%;
		margin-right: 0px;
		margin-left: 0px;
		margin:5px 0;
	}
	.details {
		height: auto;
	}
	
	.panel-info {
	  flex-wrap: wrap;
	}
	.mini-panel-info {
	  flex-wrap: wrap;
	}
	
	.flex-panel {
	  display:flex;
	  justify-content: space-between;
	  align-items: center;
	  flex-direction:column;
	  width: 100%;
	}
	.flexBox {
	  flex-direction: column;
	}
	
	.flex-panel-btw,
	.flexCover {
	  flex-direction: column;
	  width:100%;
	}
	.flexCover a {
	  margin: 5px;
	  width:100%;
	}
	
	.trackListLink {
	  padding:10px;
	  border-radius:5%;
	  background:rgba(1.33, 10.64, 0.60, 0.9);
	}
	.trackListLink input {
	  width: 100%;
	  padding:7px;
	  width:100%; 
	} 
	.footer-outer-panel-player-cover .rotate, 
	.footer-outer-panel-player-cover .spinning-card {
		animation: none;
        transform: none; /* Remove rotation */
    }
}
